.page-fs-16px {
    font-size: 16px;
    color: #3c3c3c;
}

.bg-gray-light {
    background-color: #f0f3f3;
}

.highlight {
    color: var(--primary-color) !important;
}

.section-gap-100 {
    padding: 100px 0;
}

.box-heading {
    margin-bottom: 30px;
}

.box-heading .heading-subtitle {
    color: var(--bs-gray-600);
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 15px;
}

.box-heading .heading-subtitle-2 {
    color: var(--bs-gray-800);
    font-weight: 300;
    font-size: 1.25em;
    margin-bottom: 5px;
}

.box-heading .box-heading__title {
    font-size: 3.5em;
    font-weight: 400;
}

.box-heading .box-heading__title-2 {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.3;
}

.box-heading .box-heading__title-3 {
    font-size: 1.75em;
    line-height: 1.3;
}

.custom-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    background-color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: var(--bs-white);
    padding: 15px 35px;
    border-radius: unset;
    border: 1px solid var(--bs-primary);
    transition: var(--transition-default);
}

.custom-button:hover,
.custom-button.custom-button__white:hover {
    border: 1px solid var(--bs-primary);
    background-color: var(--primary-hover);
    color: var(--bs-white);
}

.custom-button.custom-button__white {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--bs-primary);
}

@media (max-width: 1024px) {
    .box-heading .box-heading__title {
        font-size: 3em;
    }
}

@media (max-width: 992px) {
    .section-gap-100 {
        padding: 50px 0;
    }

    .box-heading .box-heading__title {
        font-size: 2.5em;
    }

    .box-heading .box-heading__title-2 {
        font-size: 2em;
    }

    .box-heading .box-heading__title-3 {
        font-size: 1.5em;
    }
}

/*=============================================
           Lưu trữ năng lượng
==========================================*/
.page-energy .section-energy {
    height: 100vh;
}

.page-energy .section-energy .energy-wrap {
    padding: 120px 0 30px;
}

.page-energy .section-energy.pseudo:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, #031537, rgba(24, 38, 76, 0.4), rgba(33, 45, 85, 0), #031537);
}

.page-energy .section-energy .energy-logo {
    width: 200px;
}

.page-energy .section-energy .card-energy .icon {
    width: 40px;
    height: 40px;
}

.page-energy .section-solution .card-solution .icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.page-energy .section-solution .card-solution .box-heading__title-3 {
    font-weight: 300;
}

.page-energy .section-solution .card-solution .note {
    border-left: 3px solid var(--primary-color);
}

.page-energy .section-storage .card-storage .icon {
    width: 64px;
    height: 64px;
}

.page-energy .section-storage .card-storage .box-heading__title-3 {
    line-height: 1.3;
    font-weight: 400;
    color: var(--bs-gray-800);
}

.page-energy .section-storage .card-storage .text {
    font-size: 12px;
    font-weight: 700;
}

.page-energy .card-html .icon {
    width: 100px;
    height: 100px;
    border-bottom: 1px solid var(--primary-color);
}

.page-energy .card-html .box-heading__title-3 {
    font-weight: 300;
    font-size: 1.5em;
}

.page-energy .card-html .text {
    color: var(--bs-gray-600);
}

.page-energy .section-video .video-wrap:hover,
.page-energy .section-video .video-wrap video:hover {
    cursor: pointer;
}

.page-energy .section-form .form-group .form-control {
    height: 48px;
    border-radius: 0;
    padding: 6px 15px;
    border: 1px solid var(--bs-white);
    font-size: 16px;
}

.page-energy .section-form .form-group textarea.form-control {
    height: unset;
}

.page-energy .section-form .form-group .form-control:focus {
    border: 1px solid var(--primary-color);
}

.modal-energy .modal-close {
    width: 48px;
    height: 48px;
    right: -25px;
    border: 1px solid var(--bs-gray-300);
}

.modal-energy .modal-content {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.modal-energy .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--dark-color);
}

.modal-energy .modal-energy_tab .nav-item {
    width: calc(100% / 3);
}

.modal-energy .modal-energy_tab .nav-item .nav-link {
    color: var(--bs-gray-600);
    font-weight: 600;
    background-color: transparent;
    border-bottom: 3px solid var(--bs-gray-100);
    border-radius: 0;
    width: 100%;
    white-space: nowrap;
    padding: 15px 20px;
}

.modal-energy .modal-energy_tab .nav-item .nav-link.active {
    color: var(--primary-color);
    background-color: transparent;
    border-bottom: 3px solid var(--primary-color);
}

.modal-energy .modal-energy_tab .item-box__wrap .item-box {
    width: 46%;
    font-size: 14px;
}

.modal-energy .modal-energy_tab .item-box__wrap .item-box .line {
    height: 1px;
    background-color: var(--primary-color);
    width: 50px;
    margin-bottom: 8px;
}

.modal-energy .modal-energy_tab table.table-number {
    font-size: 14px;
}

.modal-energy .modal-energy_tab table.table-number td {
    padding: 15px 5px;
}

.modal-energy .modal-energy_tab table.table-number .active {
    font-weight: 700;
}

.section-storage .cursor-zoom {
    width: 70px;
    height: 70px;
    background-color: var(--bs-gray-900);
    top: 0;
    left: 0;
    opacity: 0;
}

.section-storage .cursor-zoom svg path {
    stroke: var(--bs-white);
}

.change-cursor.active,
.change-cursor.active * {
    cursor: none !important;
}

@media (min-width: 1200px) {
    .page-energy .container {
        max-width: 75%;
    }
}

@media (max-width: 1024px) {
    .modal-energy .section-swiper .card-image {
        max-width: 500px;
        height: 500px !important;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .modal-energy .modal-close {
        top: 15px !important;
        right: 15px;
        transform: unset !important;
        width: 42px;
        height: 42px;
    }

    .modal-energy .modal-close svg {
        width: 28px;
        height: 28px;
    }

    .modal-energy .modal-energy_tab ul {
        overflow-y: auto;
    }

    .modal-energy .modal-energy_tab ul::-webkit-scrollbar {
        display: none !important;
    }

    .modal-energy .modal-energy_tab .nav-item {
        width: 300px;
    }

    .modal-energy .section-swiper .card-image {
        max-width: 400px;
        height: 400px !important;
    }

    .page-energy .card-html .icon {
        width: 80px;
        height: 80px;
    }
}

/*=============================================
           Pin và trạm sạc ô tô điện
==========================================*/
.page-battery .battery-note__wrap {
    padding: 24px;
    background-color: rgba(239, 165, 5, 0.1);
    border-left: 8px solid #EFA505;

}

.page-battery .battery-note__wrap .content {
    font-size: 1.3em;
    line-height: 1.3;
}

.page-battery .battery-policy .battery-policy__content {
    max-height: 700px;
    overflow: auto;
    overscroll-behavior: contain;
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color) var(--bs-white);
}

.page-battery .battery-charger .item {
    font-size: 14px;
    line-height: 1.3;
}

.page-battery .battery-charger .card-charger .image {
    height: 178px;
}

.page-battery .battery-charger .card-charger .title {
    font-size: 1.2em;
    font-weight: 600;
}

.page-battery .battery-charger .card-charger .item-detail,
.page-battery .battery-charger .card-charger .item-detail .title {
    font-size: 14px;
}

.page-battery .battery-device .card-device .item-detail {
    font-size: 14px;

}

.page-battery .battery-device .swiper-pagination {
    position: unset !important;
}

.page-battery .battery-device .swiper-pagination-bullet {
    max-width: 250px;
    width: 100%;
    border-radius: 0;
    height: 4px;
    transition: var(--transition-default);
}

.page-battery .battery-device .prev-swiper:hover svg path,
.page-battery .battery-device .next-swiper:hover svg path {
    fill: var(--primary-color);
}

.detailText h3 {
    font-size: 1.2em;
}

.detailText .border-line {
    height: 1px;
    background-color: #7a99ac;
    margin: 10px 0;
}

.detailText table thead {
    background-color: #7a99ac;
    color: var(--bs-white);
}

.detailText table thead th {
    font-weight: 400;
    padding: 10px 15px;
}

@media (min-width: 1200px) {
    .page-battery .container {
        max-width: 80%;
    }
}

@media (max-width: 380px) {
    .page-battery .battery-intro .battery-intro__button {
        flex-direction: column !important;
    }

    .page-battery .battery-intro .battery-intro__button .custom-button {
        width: 100% !important;
    }
}

/*=============================================
           Thông tin bảo hành
==========================================*/
.page-guarantee .button-guarantee .button-guarantee__list {
    border: 1px solid var(--bs-gray-300);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.page-guarantee .button-guarantee:hover .button-guarantee__list {
    opacity: 1;
    visibility: visible;
}

.page-guarantee .button-guarantee .button-guarantee__list li + li {
    border-top: 1px solid var(--bs-gray-300);
}

.page-guarantee .button-guarantee .button-guarantee__list li > a {
    padding: 12px;
    display: block;
    color: var(--bs-gray-800);
    transition: all 0.3s ease;
    font-weight: 600;
}

.page-guarantee .button-guarantee .button-guarantee__list li > a:hover {
    background-color: var(--primary-color);
    color: var(--bs-white);
}

.page-guarantee .guarantee-html .html-content {
    padding: 40px 50px;
}

.page-guarantee .guarantee-html .html-content .content-scroll {
    height: 45vh;
    overflow-y: auto;
    overscroll-behavior: contain;
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color) var(--bs-white);
}

@media (max-width: 1200px) {
    .page-guarantee .guarantee-html .html-content {
        padding: 20px 0;
    }
}

@media (max-width: 425px) {
    .page-guarantee .page-guarantee__button {
        flex-direction: column;
    }

    .page-guarantee .page-guarantee__intro .custom-button {
        width: 100% !important;
    }
}
