.page-fs-16px {
    font-size: 16px;
}

.bg-gray-light {
    background-color: #f0f3f3;
}

.highlight {
    color: var(--primary-color) !important;
}

.section-gap-120 {
    padding: 120px 0;
}

.box-heading {
    margin-bottom: 30px;
}

.box-heading .heading-subtitle {
    text-transform: uppercase;
    color: var(--bs-gray-600);
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 15px;
}

.box-heading .box-heading__title {
    font-size: 3.5em;
    font-weight: 400;
}

.box-heading .box-heading__title-2 {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.3;
}

.box-heading .box-heading__title-3 {
    font-size: 1.75em;
    line-height: 1.3;
}

.custom-button {
    text-transform: uppercase;
    background: var(--primary-color);
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: var(--bs-white);
    padding: 15px 35px;
    border-radius: unset;
    border: 1px solid var(--bs-primary);
    transition: var(--transition-default);
}

.custom-button:hover {
    background-color: var(--primary-hover);
    color: var(--bs-white);
}
@media (min-width: 1200px) {
    .page-energy .container {
        max-width: 78%;
    }
}
@media (max-width: 1024px) {
    .box-heading .box-heading__title {
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .box-heading .box-heading__title {
        font-size: 2.5em;
    }

    .box-heading .box-heading__title-3 {
        font-size: 1.5em;
    }
}

/*=============================================
           Lưu trữ năng lượng
==========================================*/
.section-energy {
    height: 100vh;
}

.section-energy .energy-wrap {
    padding: 120px 0 30px;
}

.section-energy.pseudo:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, #031537, rgba(24, 38, 76, 0.4), rgba(33, 45, 85, 0), #031537);
}

.section-energy .energy-logo {
    width: 200px;
}

.section-energy .card-energy .icon {
    width: 40px;
    height: 40px;

}

.section-solution .card-solution .icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.section-solution .card-solution .box-heading__title-3{
    font-weight: 300;
}
.section-solution .card-solution .note {
    border-left: 3px solid var(--primary-color);
}
